@{
    ViewData["Title"] = "Privacy Policy";
}

 
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] = "Founders";</title>
    <style>
        body {
            background-image: url("/Images/luffycleo.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }


    </style>
</head>
<body>

  


</body>
</html>



